{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
<h4 class="c-nav__h4">Links</h4>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://github.com/droidcrafts' target="_blank">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
    GitHub
  </a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://linkedin.com/in/droidcrafts' target="_blank">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
    LinkedIn
  </a>
</li>