{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}

<h4 class="c-nav__h4">Tags</h4>

{% capture site_tags %}
  {% for tag in site.tags %}
    {{ tag | first }}{% unless forloop.last %},{% endunless %}
  {% endfor %}
{% endcapture %}

{% assign tags_list = site_tags | split:',' | sort_natural %}
{% for tag in tags_list %}
  <li class='c-nav__item' role='presentation'>
    <a class='c-nav__link' href='/tag/{{ tag | strip | downcase}}'>
      #{{ tag | strip }}
    </a>
  </li>
{% endfor %}

<h4 class="c-nav__h4">Links</h4>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://github.com/anandbosetech' target="_blank">
    <i class="fa-brands fa-github"></i>
    GitHub
  </a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://gitlab.com/anandbose' target="_blank">
    <i class="fa-brands fa-gitlab"></i>
    GitLab
  </a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://linkedin.com/in/anandbosetech' target="_blank">
    <i class="fa-brands fa-linkedin"></i>
    LinkedIn
  </a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://mastodon.online/@anandbose' rel='me' target="_blank">
    <i class="fa-brands fa-mastodon"></i>
    Mastodon
  </a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://pixelfed.social/@vibes' rel='me' target="_blank">
    <i class="fa-solid fa-camera"></i>
    Pixelfed
  </a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='/feed.xml' target="_blank">
    <i class="fa-solid fa-rss"></i>
    Feed
  </a>
</li>