/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: $font-size-base;
  font-family: $font-base;
  line-height: $line-height-base;

  //-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased !important;
  //text-shadow: 1px 1px 1px rgba(0, 0, 0, .005);
}

*::selection {
  color: var(--color-white);
  background: var(--color-brand);
}