@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedthin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-thinoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    src: url('fonts/iosevka-thinoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedthinoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedthinoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-thinitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedthinitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedextralight.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-extralightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    src: url('fonts/iosevka-extralightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-extralightitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-light.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedlight.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-lightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    src: url('fonts/iosevka-lightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedlightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedlightoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-lightitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedlightitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extended.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-oblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    src: url('fonts/iosevka-oblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendeditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedmedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-mediumoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    src: url('fonts/iosevka-mediumoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-mediumitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedsemibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-semiboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    src: url('fonts/iosevka-semiboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-semibolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedbold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    src: url('fonts/iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-bolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedbolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-extrabold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedextrabold.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-extraboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    src: url('fonts/iosevka-extraboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-extrabolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-extendedheavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-heavyoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    src: url('fonts/iosevka-heavyoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web Oblique';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    src: url('fonts/iosevka-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-heavyitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-extendedheavyitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter-Thin.woff2") format("woff2"),
        url("fonts/Inter-Thin.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter-ThinItalic.woff2") format("woff2"),
        url("fonts/Inter-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/Inter-ExtraLight.woff2") format("woff2"),
        url("fonts/Inter-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/Inter-ExtraLightItalic.woff2") format("woff2"),
        url("fonts/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Inter-Light.woff2") format("woff2"),
        url("fonts/Inter-Light.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Inter-LightItalic.woff2") format("woff2"),
        url("fonts/Inter-LightItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Regular.woff2") format("woff2"),
        url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Italic.woff2") format("woff2"),
        url("fonts/Inter-Italic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter-Medium.woff2") format("woff2"),
        url("fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter-MediumItalic.woff2") format("woff2"),
        url("fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter-SemiBold.woff2") format("woff2"),
        url("fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
        url("fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-Bold.woff2") format("woff2"),
        url("fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-BoldItalic.woff2") format("woff2"),
        url("fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter-ExtraBold.woff2") format("woff2"),
        url("fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
        url("fonts/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter-Black.woff2") format("woff2"),
        url("fonts/Inter-Black.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter-BlackItalic.woff2") format("woff2"),
        url("fonts/Inter-BlackItalic.woff") format("woff");
}

/* -------------------------------------------------------
  Variable font.
  Usage:
  
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
      html { font-family: 'Inter var', sans-serif; }
    }
  */
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("fonts/Inter-italic.var.woff2") format("woff2");
}


/* --------------------------------------------------------------------------
  [EXPERIMENTAL] Multi-axis, single variable font.
  
  Slant axis is not yet widely supported (as of February 2019) and thus this
  multi-axis single variable font is opt-in rather than the default.
  
  When using this, you will probably need to set font-variation-settings
  explicitly, e.g.
  
    * { font-variation-settings: "slnt" 0deg }
    .italic { font-variation-settings: "slnt" 10deg }
  
  */
@font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("fonts/Inter.var.woff2") format("woff2");
}